{% extends 'layout.html' %}

{% block title %} ADD POST PAGE {% endblock %}

{% block content %}  
<h1>create your posts below </h1>   
<form class="flex flex-col justify-evenly space-y-3 items-center w-md" method="post" action="{% url 'add_post' %}">
    {% csrf_token %}
    <div>
        <label>Post Title:</label>
        <input type="text" name="title" class="border-2 rounded-md"/>
    </div>
    <div>
        <label>Post Text:</label>
        <textarea name="body" placeholder="Type your post here ..." class="border-2 rounded-md"></textarea>
    </div>
    <button class="px-3 py-1 bg-green-800 rounded-md hover:bg-transparent hover:border-2 cursor-pointer">Add Post</button>
</form>   
{% endblock %}