{% extends 'layout.html' %}

{% block title %} ADD POST PAGE {% endblock %}

{% block body %} 
<div>
    <h1>Hi, Create your post below </h1>
    <form method="post", action="{% url 'add_post' %}">
        {% csrf_token %}
        <div>
            <label>Post Title: </label>
            <input name="title" placeholder="Enter Title" />
        </div>
        <div>
            <label>Post Title: </label>
            <textarea name="text" placeholder="Type your post here .."></textarea> 
        </div>
        <button>Add Post</button>
    </form>
</div>
{% endblock %}